/* src/components/CustomLoading.css */

.loading-container {
    text-align: center;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #00FFF0;
    border-top: 5px solid #00F6FF;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
