/* src/components/Feedback.css */

.feedback-container {
    margin-top: 20px;
    padding: 20px;
    background: #060606;
    border-radius: 10px;
}

.feedback-message {
    font-size: 1.2rem;
    color: #00F6FF;
}
/* src/components/Feedback.css */

.feedback-container {
    margin-top: 20px;
    padding: 20px;
    background: #060606;
    border-radius: 10px;
}

.feedback-message {
    font-size: 1.2rem;
    color: #00F6FF;
}
