.feedback-container {
    padding: 20px;
    text-align: center;
}

.feedback-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.feedback-card {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 450px; /* Adjust width as needed */
}

.feedback-card h3 {
    margin-bottom: 10px;
}

.feedback-card p {
    margin: 5px 0;
}

.navigation-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #00F6FF;
    border-radius: 50%;
    cursor: pointer;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}
